.accent-bg-mixin {
  color: #fff;
  background-color: #0156ae;
}
.accent-gradient .accent-bg-mixin {
  background: #0156ae;
  background: -webkit-linear-gradient(30deg,#0156ae 0%,#378ddf 100%);
  background: linear-gradient(30deg,#0156ae 0%,#378ddf 100%);
}
.solid-bg-mixin {
  background-color: #f7f7f7;
}
.header-color {
  color: #333333;
}
.sidebar-content .header-color {
  color: #333333;
}
.footer .header-color {
  color: #ffffff;
}
.color-base-transparent {
  color: #969696;
}
.sidebar-content .color-base-transparent {
  color: rgba(133,134,140,0.5);
}
.footer .color-base-transparent {
  color: rgba(133,134,140,0.5);
}
.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .shadow-decoration {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.testimonial-item:not(.testimonial-item-slider),
.testimonial-item .ts-viewport,
.bg-on.team-container {
  background-color: #f7f7f7;
}
.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .bg-on.team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .bg-on.team-container {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.testimonial-item .testimonial-vcard .text-secondary,
.testimonial-item .testimonial-vcard .text-primary,
.testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.sidebar-content .testimonial-item .testimonial-vcard .text-secondary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-item .testimonial-vcard .text-secondary,
.footer .testimonial-item .testimonial-vcard .text-primary,
.footer .testimonial-item .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.testimonial-item .testimonial-vcard a.text-primary:hover,
.testimonial-item .testimonial-vcard a.text-primary:hover * {
  text-decoration: underline;
}
.team-author p {
  color: #333333;
  font:   300 14px / 24px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.testimonial-vcard .text-secondary {
  color: #333333;
  font-size: 13px;
  line-height: 23px;
  font-weight: bold;
}
.sidebar-content .testimonial-vcard .text-secondary {
  color: #333333;
}
.footer .testimonial-vcard .text-secondary {
  color: #ffffff;
}
.testimonial-vcard .text-primary {
  color: #333333;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.sidebar-content .testimonial-vcard .text-primary {
  color: #333333;
}
.footer .testimonial-vcard .text-primary {
  color: #ffffff;
}
.testimonial-vcard .text-primary * {
  color: #333333;
}
.sidebar-content .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.team-author-name {
  color: #333333;
  font:   300 15px / 25px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.widget .team-author-name {
  font:   300 22px / 32px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #333333;
}
.sidebar-content .widget .team-author-name {
  color: #333333;
}
.footer .widget .team-author-name {
  color: #ffffff;
}
.team-author-name {
  color: #333333;
}
.sidebar-content .team-author-name {
  color: #333333;
}
.footer .team-author-name {
  color: #ffffff;
}
.team-author p {
  color: #969696;
}
.sidebar-content .team-author p {
  color: rgba(133,134,140,0.5);
}
.footer .team-author p {
  color: rgba(133,134,140,0.5);
}
.rsTitle {
  font:   300 38px / 48px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.rsDesc {
  font:   300 26px / 36px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media screen and (max-width: 1200px) {
  .rsTitle {
    font:   300 26px / 36px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:   300 18px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 1024px) {
  .rsTitle {
    font:   300 18px / 28px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:   300 15px / 25px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 800px) {
  .rsTitle {
    font:   300 22px / 32px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    14px / 25px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 320px) {
  .rsTitle {
    font:    14px / 25px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    display: none !important;
    font:    14px / 25px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
}
#main-slideshow .progress-spinner-left,
#main-slideshow .progress-spinner-right {
  border-color: #0156ae !important;
}
.contentSlider-wrap .psBullet.act:before {
  background-color: rgba(86,86,86,0.25);
}
.sidebar .contentSlider-wrap .psBullet.act:before,
.sidebar-content .contentSlider-wrap .psBullet.act:before {
  background-color: rgba(133,134,140,0.25);
}
.footer .contentSlider-wrap .psBullet.act:before {
  background-color: rgba(133,134,140,0.25);
}
.contentSlider-wrap .psBullet:after,
.contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(86,86,86,0.25);
}
.sidebar .contentSlider-wrap .psBullet:after,
.sidebar-content .contentSlider-wrap .psBullet:after,
.sidebar .contentSlider-wrap .psBullet.act:hover:after,
.sidebar-content .contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(133,134,140,0.25);
}
.footer .contentSlider-wrap .psBullet:after,
.footer .contentSlider-wrap .psBullet.act:hover:after {
  border-color: rgba(133,134,140,0.25);
}
.outlines-bullets .contentSlider-wrap .psBullet:after,
.outlines-bullets .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(86,86,86,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(86,86,86,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(86,86,86,0.25);
}
.outlines-bullets .sidebar .contentSlider-wrap .psBullet:after,
.outlines-bullets .sidebar-content.solid-bg .contentSlider-wrap .psBullet:after,
.outlines-bullets .sidebar .contentSlider-wrap .psBullet.act:hover:after,
.outlines-bullets .sidebar-content.solid-bg .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(133,134,140,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(133,134,140,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(133,134,140,0.25);
}
.outlines-bullets .footer .contentSlider-wrap .psBullet:after,
.outlines-bullets .footer .contentSlider-wrap .psBullet.act:hover:after {
  background-color: rgba(133,134,140,0.04);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(133,134,140,0.25);
  box-shadow: inset 0px 0px 0px 1px rgba(133,134,140,0.25);
}
.accent-bullets .contentSlider-wrap .psBullet:before,
.accent-bullets .contentSlider-wrap .psBullet.act:before {
  background-color: #0156ae;
}
.accent-bullets.accent-gradient .contentSlider-wrap .psBullet:before,
.accent-bullets.accent-gradient .contentSlider-wrap .psBullet.act:before {
  background: #0156ae;
  background: -webkit-linear-gradient(30deg,#0156ae 0%,#378ddf 100%);
  background: linear-gradient(30deg,#0156ae 0%,#378ddf 100%);
}
.accent-bullets .contentSlider-wrap .psBullet.act:after,
.accent-bullets .contentSlider-wrap .psBullet:hover:after {
  background-color: rgba(1,86,174,0.2);
}
.accent-bullets.accent-gradient .contentSlider-wrap .psBullet.act:after,
.accent-bullets.accent-gradient .contentSlider-wrap .psBullet:hover:after {
  background: rgba(1,86,174,0.2);
  background: -webkit-linear-gradient(30deg,rgba(1,86,174,0.2) 0%,rgba(55,141,223,0.2) 100%);
  background: linear-gradient(30deg,rgba(1,86,174,0.2) 0%,rgba(55,141,223,0.2) 100%);
}
.three-d-slider .navig div,
.three-d-slider .navig div:not(.act):hover,
.scale-me .navig div:hover {
  background-color: ;
  color: #0156ae;
}
.three-d-slider .navig .act,
.scale-me .navig div.act:hover {
  color: #fff;
  background-color: #0156ae;
}
.accent-gradient .three-d-slider .navig .act,
.accent-gradient .scale-me .navig div.act:hover {
  background: #0156ae;
  background: -webkit-linear-gradient(30deg,#0156ae 0%,#378ddf 100%);
  background: linear-gradient(30deg,#0156ae 0%,#378ddf 100%);
}
